# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/test/
../image
../client/target
../common/target
../server/target
../Script.txt
../Script1.txt